.header {
  width: 100%;
  margin-top: 0;
  background-color: #355990;
  border-top: 1em solid #1E3B68;
  height: 80px;
  box-sizing: content-box;
  text-align: left;
  display: block;
}

#title {
  padding-left: 20em;
  color: #fff;
}
#title h1 {
  font-weight: lighter;  
}

